.my__posts {
    grid-area: Wall;
    border: 3px solid darkgray;
    padding: 5px 5px;
    border-radius: 15px;
    background-color: #8a2be2;
    width: 100%;
}

.my__posts_header span {
    font-size: 20px;
    padding: 0 0 0 10px;
    font-family: "Righteous";
    color: #fcc97a;
}
.button__send {
    background-color: #fcc97a;
    height: 30px;
    width: 100px;
    border: 3px solid darkgray;
    margin: 0 5px;
    border-radius: 15px;
    color: #8a2be2;
    font-family: "Righteous";
    font-size: 20px;
    text-align: center;
}
.comment {
    font-family: "Righteous";
    color: #8a2be2;
    font-size: 20px;
    padding: 5px;
    margin: 10px 0 0 5px;
    border: 3px solid darkgray;
    border-radius: 15px;
    width: 400px;
    height: 100px;
}

.posts{
    margin: 10px 15px;
}
