.nav {
    margin:0px 20px 0px 20px;

    width: 200px;
    height: 340px;
    grid-area: n;
    background-color: #333333;
    border-radius: 15px;

}

.item {
    padding: 10px 5px;
    border: 5px solid darkgray;
    border-radius: 15px;
    background-color: #8a2be2;
    margin: 10px 0px;
    font-size: 20px;
    font-family: "Righteous";
    text-transform: uppercase;
    color: #fcc97a;
}

.item:hover {
    color: #ff9b3e;
    border: 5px solid #ff9b3e;
}
