
.post{
    margin: 0 0 10px;
    width: 400px;
    border: 3px solid darkgray;
    border-radius: 15px;
    font-family: "Righteous";
    color: #fcc97a;
    padding: 5px 10px;
}
.post img{
    width: 50px;
}