.nav {
    grid-area: Navbar;
    grid-column: 2/3;

    border-radius: 15px;

}

.item {

    padding: 5px 5px;
    border: 3px solid darkgray;
    border-radius: 15px;
    background-color: #8a2be2;
    margin: 10px 0px;
    font-size: 16px;
    font-family: "Righteous";
    text-transform: uppercase;

}
.item a{
    text-decoration: none;
    color: #fcc97a;
}

.item a.active {
    color: #8a2be2;
    background-color: #fcc97a;
    border-radius: 15px;
}

.item:hover {
    color: #ff9b3e;
    border: 3px solid #ff9b3e;
    text-align: center;
}
