.app-wrapper {
  background-color: #333333;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;

  display: grid;
  grid-template: minmax(70px, auto) 1fr minmax(70px, auto) / 1fr;

  grid-template-areas:
  "Header"
  "Main"
  "Footer";


  /*grid-gap: 10px;*/
}



