.app-wrapper {
  background-color: #333333;
  display: grid;
  width: 1400px;

  margin: 0 auto;

  grid-template-areas:
  "h h h h"
  "n b b b"
  "n a d d";
/*"n a d"*/
/*  "n w"*/
/*  'n p';*/

  grid-template-rows: 120px 1fr 1fr ;
  grid-template-columns: 2fr 4fr 4fr 2fr;
  /*grid-gap: 10px;*/
}



